<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema de controle de estoque.">
    <meta name="author" content="Edson Luiz Fragnan">

    <title>Administrativo - Estoque loja.</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/plugins/morris.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
      .aviso {
        text-align: center;
      }
    </style>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Estoque loja</a>
            </div>

            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= user.nome %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile"><i class="fa fa-fw fa-user"></i> Perfil</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                      <a href="/index"><span class="glyphicon glyphicon-home"></span> Início</a>
                    </li>
                    <li>
                      <a href="/listaprodutos"><span class="glyphicon glyphicon-menu-right"></span> Lista produtos</a>
                    </li>
                    <li>
                      <a href="/cadastroproduto"><span class="glyphicon glyphicon-menu-right"></span> Cadastro produto</a>
                    </li>
                    <li>
                      <a href="/cadastrousuario"><span class="glyphicon glyphicon-menu-right"></span> Cadastro usuário</a>
                    </li>
                    <li>
                      <a href="/cadastroaviso"><span class="glyphicon glyphicon-menu-right"></span> Cadastro aviso</a>
                    </li>
                    <li>
                      <a href="/meusavisos"><span class="glyphicon glyphicon-menu-right"></span> Meus avisos</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                <br>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                                <h3>Avisos</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                  <% if(message.length > 0){ %>
                    <div class="col-lg-12">
                        <div class="alert alert-warning aviso"><h2><%= message %></h2></div>
                    </div>
                  <% } else{ %>
                    <% for(var i=0; i<avisos.length; i++) {%>
                      <div class="col-lg-4">
                          <div class="panel panel-primary">
                              <div class="panel-heading">
                                  <h3 class="panel-title"><i class="glyphicon glyphicon-comment"></i> <%= avisos[i].titulo %></h3>
                              </div>
                              <div class="panel-body">
                                  <div id="morris-bar-chart">
                                    <p>
                                      <%= avisos[i].descricao %>
                                    </p>
                                    <hr>
                                    <span>
                                      <strong>
                                        Autor: <%= avisos[i].nome %>
                                      </strong>
                                    </span>
                                    <br>
                                    <span>Data: <%= avisos[i].data %></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                    <% } %>
                  <% } %>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>

    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
