<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema de controle de estoque.">
    <meta name="author" content="Edson Luiz Fragnan">

    <title>Administrativo - Estoque loja.</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/plugins/morris.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
      .table thead tr th {
        text-align: center;
      }
      .table tbody tr td {
        text-align: center;
      }
      .aviso {
        text-align: center;
      }
    </style>

    <script>
      function valProduto(id) {
        $("#btnDeletar").html(
          '<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>' +
          '<a type="button" class="btn btn-danger deletaAviso" href="/listaprodutos/'+id+'?_method=DELETE">Remover</a>'
        );
      }
    </script>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Estoque loja</a>
            </div>

            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= user.nome %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile"><i class="fa fa-fw fa-user"></i> Perfil</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                  <li>
                    <a href="/index"><span class="glyphicon glyphicon-home"></span> Início</a>
                  </li>
                  <li class="active" id="produtos">
                    <a href="/listaprodutos"><span class="glyphicon glyphicon-menu-right"></span> Lista produtos</a>
                  </li>
                  <li id="cadProduto">
                    <a href="/cadastroproduto"><span class="glyphicon glyphicon-menu-right"></span> Cadastro produto</a>
                  </li>
                  <li id="cadUsuario">
                    <a href="/cadastrousuario"><span class="glyphicon glyphicon-menu-right"></span> Cadastro usuário</a>
                  </li>
                  <li id="meuAvisos">
                    <a href="/cadastroaviso"><span class="glyphicon glyphicon-menu-right"></span> Cadastro aviso</a>
                  </li>
                  <li id="cadAvisos">
                    <a href="/meusavisos"><span class="glyphicon glyphicon-menu-right"></span> Meus avisos</a>
                  </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                  <div class="col-lg-12">
                    <h1 class="page-header">
                        Lista de Produtos<small> todos os produtos cadastrados</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                          <i class="glyphicon glyphicon-menu-right"></i> Lista de produtos
                        </li>
                    </ol>
                    <% if(mensagem.length > 0){ %>
                      <div class="alert alert-warning aviso"><h2><%= mensagem %></h2></div>
                    <% } else{ %>
                      <% for(var i=0; i<produtos.length; i++) {%>
                        <div class="table-responsive">
                          <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Nome</th>
                                  <th>Marca</th>
                                  <th>Descrição</th>
                                  <th>Categoria</th>
                                  <th>Valor</th>
                                  <th>Quantidade</th>
                                  <th>Data cadastro</th>
                                  <th>Cadastro por</th>
                                  <th>Ações</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% for(var i=0; i<produtos.length; i++) {%>
                                  <tr>
                                       <td><%= produtos[i].id %></td>
                                       <td><%= produtos[i].Nome %></td>
                                       <td><%= produtos[i].marca %></td>
                                       <td><%= produtos[i].descricao %></td>
                                       <td><%= produtos[i].categoria %></td>
                                       <td><%= produtos[i].valor %></td>
                                       <td><%= produtos[i].quantidade %></td>
                                       <td><%= produtos[i].data_cadastro %></td>
                                       <td><%= produtos[i].cadastro %></td>
                                       <td>
                                         <a type="button" data-toggle="modal" data-target="#myModal" class="btn btn-danger deletaAviso" id="<%= produtos[i].id %>" onclick="valProduto(this.id)">
                                           <span class="glyphicon glyphicon-trash"></span>
                                         </a>
                                       </td>
                                  </tr>
                                <% } %>
                              </tbody>
                            </table>
                          </div>
                      <% } %>
                    <% } %>
                  </div>
                </div>

            </div>

        </div>

    </div>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <h3>Deseja deletar o produto?</h3>
          </div>
          <div class="modal-footer" id="btnDeletar"></div>
        </div>

      </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(function() {
        var data = '<%= user.tipoUsuario %>';
        if (data === 'admin') {
          console.log();
        } else {
          $("#cadProduto").remove();
          $("#cadUsuario").remove();
          $("#meuAvisos").remove();
          $("#cadAvisos").remove();
          $("#produtos").remove();
        }
      });
    </script>
</body>

</html>
